.main {
    margin-top: 90px;
}

.title {
    text-align: center;
    margin: 2rem;
}

#home, #about, #timeline, #contact,  #footer{
    margin-top: 5rem;
}

#home, #about, #timeline, #contact {
    padding-top: 90px;
}

.about-pic {
    width: 500px;
}

.topic {
    display: flex;
    margin-top: 150px;
}

.para {
    width: 350px;
    position: relative;
    flex: 1;
}

.about-question {
    text-align: center;
}

.para1, .para2, .para3 {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
}

.para1, .para3 {
    margin-right: 5rem;
}

.pic {
    flex: 1;
}

.contact-form {
    width: fit-content;
    margin-right: auto;
}

.input-block {
    margin: 1rem auto;
    width: fit-content;
}

.input-field {
    width: 200px;
    margin-bottom: 0.8rem; 
    margin-top: 0.3rem;
}

.required-sign {
    color: red !important; 
    display: inline; 
    float: none;
}

.submit-btn {
    margin: auto;
    width: fit-content;
}

.footer-col {
   text-align: center;
}

.footer-links {
    list-style-type: none;
}

