.title {
    text-align: center;
    margin: 2rem;
}


.contact-form {
    width: fit-content;
    margin-right: auto;
}

.input-block {
    margin: 1rem auto;
    width: fit-content;
}

.input-field {
    width: 200px;
    margin-bottom: 0.8rem; 
    margin-top: 0.3rem;
}

.required-sign {
    color: red !important; 
    display: inline; 
    float: none;
}

.submit-btn {
    margin: auto;
    width: fit-content;
}

.footer-section {
    margin-top: 100px;
}

.footer-col {
   text-align: center;
}

.footer-links {
    list-style-type: none;
}

